# Life Expectancy and GDP

Here, I analyzed data from the World Health Organization and the World Bank to identify the relationship between GDP and life expectancy in six countries.

## Preparation

First, I imported **Pandas** and **seaborn**.

In [4]:
import pandas as pd
import seaborn as sns

Then, I loaded the data.

In [3]:
all_data = pd.read_csv("all_data.csv")

Once the data was loaded, I looked at the names of each column and the total amount of columns.

In [6]:
all_data.columns

Index(['Country', 'Year', 'Life expectancy at birth (years)', 'GDP'], dtype='object')

The dataset contains four columns with the following information:
* Country
* Year
* Life expectancy at birth in years
* GDP

Then, I inspected the first five lines of data.

In [7]:
all_data.head()

  Country  Year  Life expectancy at birth (years)           GDP
0   Chile  2000                              77.3  7.786093e+10
1   Chile  2001                              77.3  7.097992e+10
2   Chile  2002                              77.8  6.973681e+10
3   Chile  2003                              77.9  7.564346e+10
4   Chile  2004                              78.0  9.921039e+10

Next, I searched for missing data and found that the dataset is complete.

In [8]:
all_data.isna().any().any()

False

Finally, I inspected data types. The 'Year' column is numerical, the while others are categorical.

In [9]:
all_data.dtypes

Country                              object
Year                                  int64
Life expectancy at birth (years)    float64
GDP                                 float64
dtype: object

## Analysis

I started my analysis...